.signin-base {
    width: 100vw;
    height: 100vh;
}

.login-form input {
    border: var(--size-xxs) solid var(--color-border);
}

.dark-mode-container {
    position: absolute;
    bottom: 0;
    left: 0;
}